<%- include("./partials/header") -%>

<h1 class="section-header"><%= thisPost.Title %></h1>
<div class="post-container">
    <p><%= thisPost.Content %></p>
</div>
<p class="post-content end-article">End of article...</p>


<%- include("./partials/footer") -%>